ENVIRONMENT_NAME=dev

LOG_STORAGE_PATH=./tmp/data

# SQLite index
SQLITE_JOURNAL_MODE=WAL
SQLITE_BUSY_TIMEOUT=5s

# HTTP server
API_LOCAL_HOST=localhost
API_LOCAL_PORT=9000
API_TIMEOUT=5s

DEBUG_ENABLED=false # Debug endpoints (/debug/pprof, /debug/vars)
